{{ $title := .Site.Title }}
{{ $imgURL := .Params.image }}
{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $body := print $title ", by " .Site.Title "\n" .Summary "\n\n" "Baca lebih lanjut di " $url "\n" }}
{{- partial "head.html" . -}}
{{- partial "section_nav.html" . -}}
<!-- Postingan/Artikel -->
<!-- Artikel -->
<section id="artikel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="border-bottom border-2 pb-3">{{.Title}}</h1>
                <p class="text-end pb-3 text-secondary">Dibuat pada tanggal: {{.PublishDate.Format "6-01-2006"}}
                </p><br>
                </p>
                <p class="fw-bold">Ditulis oleh: {{.Params.author}}</p>

                {{ with .Params.image }}
                {{ $images := . }}
                    {{ $imageResource := ($.Site.GetPage "section" "image").Resources.GetMatch (strings.TrimPrefix "/image/" (index $images 0)) }}
                {{ $img := $imageResource }}
                <div class="text-center">
                    <img src="/image/{{ . }}" class="img-fluid" style="max-width: 800px;" />
                </div>
                
                <br><br>
                {{ end }}
                
                {{ with .Params.img }}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
                <div class="row text-center text-lg-left photos">
                {{ range . }}
                <div class="col-lg-3 col-md-4 col-6 item">
                    <a href="{{ . }}" data-lightbox="photos">
                          <img class="img-fluid img-thumbnail" src="{{ . }}" alt="">
                        </a>
                  </div>
                {{ end }}<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
                <script>
                    lightbox.option({
                      'maxHeight': 500,
                      'wrapAround': true
                    })
                </script></div>{{ end }}
                <br>
                <br>
                <div style="text-align: justify;">
                    {{.Content}}
                </div>
                <p class="fw-bold">Kategori: {{.Params.category}}</p>
                <div class="d-grid col-3 mx-auto justify-content-center mt-4">
                    <a href="#" style="text-decoration: none;" class="btn primary-btn text-white"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                        aria-controls="offcanvasBottom">Bagikan
                        Postingan</a>
                </div>
                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
                    aria-labelledby="offcanvasBottomLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Bagikan ke Media Sosial</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body small">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="http://www.facebook.com/sharer.php?u={{ $url }}"
                                    target="_blank"><i class="bi bi-facebook fs-3"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:?subject=Ayo%20lihat%20{{ $title }}.&body={{ $body }}"
                                    target="_blank"><i class="bi bi-envelope fs-3"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="https://twitter.com/intent/tweet?url={{ $url }}&text={{ $title }}"
                                    target="_blank"><i class="bi bi-twitter fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Akhir Artikel -->
<!-- Akhir Postingan/Artikel -->
{{- partial "footer.html" . -}}
