<!-- Galeri Desa -->
<section id="galeri">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <h2 class="fw-bold text-dark border-bottom border-4 pb-1 border-dark">{{.Site.Params.gallery_title}}
                </h2>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4 mt-3 justify-content-center">
            <div class="col">
                <div class="card h-100 img-thumbnail shadow-lg p-2 bg-body rounded" style="border-radius: 0em;">
                    <div id="carouselExamplePertama" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExamplePertama" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExamplePertama" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExamplePertama" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" class="with-caption1 image-link"
                                    title="The caption">
                                    <img src="img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" class="d-block w-100"
                                        alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="img/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg"
                                    class="with-caption1 image-link" title="The Caption2">
                                    <img src="img/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg"
                                        class="d-block w-100 h-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="img/patrick-MGTHD7BJRI4-unsplash.jpg" class="with-caption1 image-link"
                                    title="The Caption3">
                                    <img src="img/patrick-MGTHD7BJRI4-unsplash.jpg" class="d-block w-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamplePertama"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExamplePertama"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 img-thumbnail shadow-lg p-2 bg-body rounded" style="border-radius: 0em;">
                    <div id="carouselExampleKedua" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleKedua" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleKedua" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleKedua" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" class="with-caption2 image-link"
                                    title="The caption">
                                    <img src="img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" class="d-block w-100"
                                        alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="img/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg"
                                    class="with-caption2 image-link" title="The Caption2">
                                    <img src="img/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg"
                                        class="d-block w-100 h-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="img/patrick-MGTHD7BJRI4-unsplash.jpg" class="with-caption2 image-link"
                                    title="The Caption3">
                                    <img src="img/patrick-MGTHD7BJRI4-unsplash.jpg" class="d-block w-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleKedua"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleKedua"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 img-thumbnail shadow-lg p-2 bg-body rounded" style="border-radius: 0em;">
                    <div id="carouselExampleKetiga" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleKetiga" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleKetiga" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleKetiga" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" class="with-caption3 image-link"
                                    title="The caption">
                                    <img src="img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg" class="d-block w-100"
                                        alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="img/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg"
                                    class="with-caption3 image-link" title="The Caption2">
                                    <img src="img/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg"
                                        class="d-block w-100 h-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="img/patrick-MGTHD7BJRI4-unsplash.jpg" class="with-caption3 image-link"
                                    title="The Caption3">
                                    <img src="img/patrick-MGTHD7BJRI4-unsplash.jpg" class="d-block w-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleKetiga"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleKetiga"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Akhir Galeri Desa -->