<!-- Statistik Penduduk -->
<section id="statistik" class="primary-bg">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-7 col-sm-9">
                <h2 class="fw-bold text-dark border-bottom border-4 pb-1 border-dark">{{.Site.Params.statistik_title}}
                </h2>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-lg-3 col-md-5 col-sm-6 col-8 mt-3">
                <div class="card text-center" style="border-radius: 15px;">
                    <div id="counter" class="card-body">
                        <h5 class="card-title">{{.Site.Params.men_title}}</h5>
                        {{ with .Site.GetPage "/statistik.md" }}
                        <h3 class="card-title fs-2 fw-bolder counter-value" data-count="{{ .Params.laki_laki }}">0
                        </h3>{{ end }}
                        <p class="card-text count-text">Jiwa*
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{.Site.Params.data_update}}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-8 mt-3">
                <div class="card text-center" style="border-radius: 15px;">
                    <div id="counter" class="card-body">
                        <h5 class="card-title">{{.Site.Params.women_title}}</h5>
                        {{ with .Site.GetPage "/statistik.md" }}
                        <h3 class="card-title fs-2 fw-bolder counter-value" data-count="{{.Params.perempuan}}">0
                        </h3>{{ end }}
                        <p class="card-text count-text">Jiwa*
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{.Site.Params.data_update}}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-8 mt-3">
                <div class="card text-center" style="border-radius: 15px;">
                    <div id="counter" class="card-body">
                        <h5 class="card-title">{{.Site.Params.total_title}}</h5>{{ with .Site.GetPage "/statistik.md" }}
                        <h3 class="card-title fs-2 fw-bolder counter-value" data-count="{{.Params.total}}">0
                        </h3>{{ end }}
                        <p class="card-text count-text">Jiwa*
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{.Site.Params.data_update}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1"
            d="M0,224L48,202.7C96,181,192,139,288,149.3C384,160,480,224,576,245.3C672,267,768,245,864,245.3C960,245,1056,267,1152,250.7C1248,235,1344,181,1392,154.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</section>
<!-- Akhir Statistik Penduduk -->
